*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(img/bg-desktop.png);
    background-color:hsl(0, 100%, 74%);
    background-position: center;
}

main{
    margin: 6.5rem 10rem 0
}

.cont{
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

.lft-cnt{
    display: flex;
    width: 50%;
    flex-direction: column;
    color: #fff;
    gap: 2rem;
}

.lft-cnt h1{
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    line-height: 3.5rem;
}

.lft-cnt p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.rgt-cnt{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.top-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 3.75rem;
    border-radius: .75rem;   
    border: none;
    background-color: hsl(248, 32%, 49%);
    box-shadow: 0rem .5rem #0000002d;
}

.top-btn p{
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
    color: #fff;
}

.top-btn span{
    font-weight: 300;
}

form{
    padding: 2.25rem 2.25rem;
    background-color: #fff;
    border-radius: .75rem;
    display: flex;
    box-shadow: 0rem .5rem #0000002d;
    flex-direction: column;
    gap: 1.5rem;
}

.forx{
    display: flex;
    flex-direction: column;
    position: relative;
}

input{
    height: 3.25rem;
    border-radius: .25rem;
    padding: 0 1.5rem;
    font-size: 0.875rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    border: 0.063rem solid #e0dfdf;
    caret-color: hsl(248, 32%, 49%);
    outline: none;
}

#errf, #errl, #erre, #errp{
    position: absolute;
    right: 1.5rem;
    top: 1rem;
    width: 1.25rem;
    z-index: +1;
}

#eye, #eyeslash, .bi{
    position: absolute;
    right: 1.59rem;
    top: .89rem;
    z-index: 0;
    width: 1.25rem;
}


input.error {
    border: 0.094rem solid hsl(0, 100%, 74%);
}

#ferr, #lerr, #eerr, #perr{
    color: hsl(0, 100%, 74%);
    text-align: right;
    margin-top: .35rem;
    font-style: italic;
}

.f-er, .l-er, .e-er, .p-er, .icon{
    display: none;
}

input:focus{
    border-color: hsl(248, 32%, 49%);
}

form button{
    background-color: hsl(154, 59%, 51%);
    color: #fff;
    font-family: "Poppins", sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    height: 3.5rem;
    letter-spacing: .125rem;
    border-radius: .35rem;
    margin-bottom: 1rem;
    box-shadow: 0rem .25rem hsl(153, 66%, 43%);
    border: .063rem solid hsl(153, 66%, 43%);  
}

form p{
    text-align: center;
    font-size: 0.75rem;
    font-family: "Poppins", sans-serif;
    color: hsl(246, 25%, 77%);
}

form span{
    font-weight: 600;
    color: hsl(0, 100%, 74%);
}

@media (max-width: 1024px){
    body{
        background-image: url(img/bg-mobile.png);
        background-color:hsl(0, 100%, 74%) ;
    }

    main{
        margin: 5rem 1.125rem 4rem
    }
    
    .cont{
        flex-direction: column;
    }

    .lft-cnt{
        width: 100%;
    }
    
    .lft-cnt h1{
        font-size: 1.65rem;
        line-height: 2.5rem;
        text-align: center;
    }
    
    .lft-cnt p{
        font-size: 1.063rem;
        text-align: center;
    }
    
    .rgt-cnt{
        width: 100%;
    }

    .top-btn{
        height: 5.5rem;
    }

    .top-btn p{
        width: 50%;
        text-align: center;
    }

    form{
        padding: 1.25rem 1.25rem;
    }
}

@media (max-width: 375px){
    body{
        background-image: url(img/bg-mobile.png);
        background-color:hsl(0, 100%, 74%);
    }

    main{
        margin: 5rem 1.125rem 4rem
    }
    
    .cont{
        flex-direction: column;
    }

    .lft-cnt{
        width: 100%;
    }
    
    .lft-cnt h1{
        font-size: 1.65rem;
        line-height: 2.5rem;
        text-align: center;
    }
    
    .lft-cnt p{
        font-size: 1.063rem;
        text-align: center;
    }
    
    .rgt-cnt{
        width: 100%;
    }

    .top-btn{
        height: 5.5rem;
    }

    .top-btn p{
        width: 60%;
        text-align: center;
    }

    form{
        padding: 1.25rem 1.25rem;
    }
}


